html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    background-color: #1F2937;
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#green {
    color: #4ADF86;
}

#generate-btn {
    height: 30px;
    width: 170px;
    border: none;
    border-radius: 5px;
    background: green;
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    margin: 10px auto 10px 0;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
}

hr {
    border: none;
    height: 2px;
    background: #dad7cd;
    border-radius: 3px;
    margin: 20px auto;
}

ul {
  margin-top: 0;
  margin-bottom: 25px;
}

ul > li {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
}

.passwords {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.password {
   width: 300px;
   min-height: 30px;
   height: fit-content;
   display: flex;
   justify-content: center;
   align-items: center; 
   color: #4ADF86;
   background-color: #273549;
   border-radius: 5px;
   font-size: 20px;
   font-family: 'Lato', sans-serif;
   margin: auto 10px;
}

.btns {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.sliders {
    display: flex;
    justify-content: center;
    align-items: center;
}

#slider {
    margin-right: 10px;
    border-radius: 5px;
    width: 160px;
    height: 30px;
    white-space: normal;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #d90429;
    color: #ffffff;
    font-weight: bold;
    padding-left: 10px;
    font-size: 18px;
}

.pw-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

#text {
    width: 80px;
    height: 25px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-family: 'Lato', sans-serif;
}

.toggle {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.toggle input[type="checkbox"] {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: gray;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input[type="checkbox"]:checked + .slider {
  background-color: green;
}

input[type="checkbox"]:checked + .slider:before {
  transform: translateX(26px);
}

@media all and (max-width: 720px) {
  .container {
    margin-top: 300px;
  }

  hr {
    width: 400px;
  }

  .passwords {
    margin-bottom: 20px;
    flex-direction: column;
  }

  .password {
    min-height: 60px;
    margin: 10px auto;
  }
}

@media all and (max-height: 480px) {
  .container {
    margin-top: 500px;
  }
}